*{
    margin: 0;
    padding: 0;
}
body,h1,h2,h3,h4,h5,h6,a,span,strong,p{
    font-family: 'Rubik', sans-serif;
}
.banner-section{
    background-image: url(images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px;
    background-position: center;
}
.banner-content{
    color: #fff;
    text-align: center;
}
.banner-content h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.banner-content p {
    font-size: 16px;
    font-weight: 400;
    width: 975px;
    margin-bottom: 30px;
}
.link-button{
    text-decoration: none;
    background: #ff5200;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 20px;
}
.donate-section{
    padding: 100px 220px;
}
#doante-content{
    color: #222;
}
#donate-text{
    color: gray;
}
.donate-money{
    margin-bottom: 60px;
}
.donate-items {
    display: inline-block;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    padding: 25px 15px;
    background: #FAFAFA;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 60px;
}
#donate{
    border: 1px solid tomato;
    background: #ffeeee;
    color: red;
}
.other-amount {
    color: #bdbdbd;
    margin-bottom: 10px;
    position: relative;
}
.other-amount::after {
    content: '';
    position: absolute;
    left: 197px;
    bottom: -3px;
    width: 58%;
    background: #dfdfdf;
    height: 2px;
}
.plan_tems {
    display: flex;
    margin-top: 80px;
}
.single-plan{
    width: 33%;
    margin-right: 25px;
    padding: 5% 2%;
    border-radius: 3px;
}
#food-family{
    background:  rgba(79, 157, 166, 0.1);
}
#shelter-family{
    background: rgba(255, 89, 89, 0.1);
}
#education-child{
    background: #FFF4D6;
}
.single-plan span {
    display: inline-block;
    font-size: 40px;
    color: #ff5200;
    margin-bottom: 18px;
}
.single-plan h3 {
    font-size: 19px;
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
}
.single-plan p {
    font-size: 15px;
    color: #9b9999;
}
.testimonial-section{
    padding: 60px 220px;
    background: #F4FEFF;
}
.testimonilan-info{
    text-align: center;
}
.testimonilan-info h1 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 65px;
}
.founder-info img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #f7f7f7;
    margin-bottom: 10px;
}
.founder-info h4 {
    font-size: 20px;
    margin-bottom: 6px;
}
.founder-info h6 {
    font-size: 15px;
    font-weight: 400;
    color: #b7b2b2;
    margin-bottom: 40px;
}
.founder-info span {
    display: inline-block;
    font-size: 17px;
    color: #ff5200;
    margin-bottom: 15px;
    padding: 0px 5px;
}
.founder-info p {
    font-size: 15px;
    color: #a1a0a0;
    width: 995px;
}
.suviv-items{
    display: flex;
}
.suviv-halfWidht{
    width: 50%;
}
.suviv-halfWidht img{
    width: 90%;
}
.suviv-halfWidht h1 {
    font-size: 45px;
    margin-bottom: 20px;
}
.suviv-halfWidht p {
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}
.suviv-halfWidht span {
    display: block;
    font-size: 15px;
    margin-bottom: 35px;
}
footer{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 3%;
}
footer p{
    margin-bottom: 10px;
}